
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5DC; /* Bege claro */
    color: #4B382F; /* Marrom escuro */
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    background-color: #A0522D; /* Marrom terra */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.logo-container {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
    
}
h1, a{
    text-decoration: none;
    color: white;
}
.nav-categorias ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-categorias a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.1em;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

.nav-categorias a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.btn-login {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FF8C00;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #E67E00;
}